body {
    width: 900px;
    margin: 6rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 1;
    animation: opacity 1s;
}

body div {
    max-width: 900px;
    max-height: 8rem;
    animation: width-height 1s;
    white-space: nowrap;
    overflow: hidden;
}

h1 {
    display: flex;
    gap: 0rem;
    animation: 1s gap forwards;
    animation-delay: 1200ms;
}

span {
    display: inline-block;
    overflow: hidden;
    max-width: .5rem;
    animation: width 1s ease-in-out forwards;
    animation-delay: 1200ms;
}

#com {
    opacity: 1;
    color: rgb(153, 0, 0);
    animation: to-opacity 1200ms forwards;
    animation-delay: 1200ms;
    overflow: visible;
}

.links {
    display: flex;
    gap: 1rem;
}

@keyframes width {
    to {
        max-width: 7rem;
    }
}

@keyframes gap {
    to {
        gap: 1rem;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
}

@keyframes to-opacity {
    to {
        opacity: 0;
    }
}

@keyframes width-height {
    from {
        max-width: 0;
        max-height: 0;
    }
}